yapf
jupyter


cdsapi
netcdf4
xarray
zarr
rasterio
rioxarray


numpy
pandas
geopandas
polars
pyarrow
duckdb
scipy
matplotlib


holoviews[all]
geoviews
panel
param
hvplot
bokeh
jupyter_bokeh
plotly


sqlalchemy
psycopg[binary]

clickhouse_connect
clickhouse_driver